In [1]:
import pandas as pd
import numpy as np
from scipy import stats
import re

### read the df

In [2]:
df=pd.read_csv('../data/clean/cleaned_df2.csv')
df.head()

,firm,date_review,job_title,current,location,overall_rating,work_life_balance,culture_values,diversity_inclusion,career_opp,comp_benefits,senior_mgmt,recommend,ceo_approv,outlook,headline,pros,cons,year
0,AFH-Wealth-Management,2018-01-29,Anonymous Employee,Current Employee,No location,5,5.0,5.0,1.0,5.0,5.0,5.0,v,o,v,Administration,"Really nice community, lots of benefits for em...",nothing that i can think of- i love working here,2018
1,AFH-Wealth-Management,2018-07-05,Anonymous Employee,"Former Employee, more than 3 years",No location,1,3.0,1.0,1.0,2.0,1.0,1.0,x,x,v,Could be so much better,Lots of talented and friendly people.\r\n\r\nR...,The talented and friendly people are woefully ...,2018
2,AFH-Wealth-Management,2018-08-02,Anonymous Employee,"Current Employee, more than 3 years",No location,5,5.0,5.0,1.0,4.0,4.0,4.0,v,o,v,Employer of choice,Top CEO with a vision and desire to make thing...,There are none... it's what you make it.,2018
3,AFH-Wealth-Management,2018-09-07,Anonymous Employee,Current Employee,No location,4,3.0,3.0,1.0,5.0,2.0,3.0,v,v,v,Good place to work,Very professional manner and lots of opportuni...,There are none to point out,2018
4,AFH-Wealth-Management,2018-12-04,Anonymous Employee,Former Employee,No location,2,4.0,2.0,1.0,2.0,1.0,1.0,x,o,o,In the process of trying to provide the best s...,The compressed hours structure works well wher...,I genuinely believe AFH have a good offering f...,2018

In [3]:
current=df['current'].unique()

### reduce the status of the employee into 3: c(current), f(former), k(other)

In [4]:
current.tolist()

['Current Employee',
 'Former Employee, more than 3 years',
 'Current Employee, more than 3 years',
 'Former Employee',
 'Former Employee, less than 1 year',
 'Current Employee, more than 1 year',
 'Former Employee, more than 1 year',
 'Current Employee, less than 1 year',
 'Current Employee, more than 5 years',
 'Current Employee, more than 8 years',
 'Former Employee, more than 5 years',
 'Former Employee, more than 10 years',
 'Current Employee, more than 10 years',
 'Former Employee, more than 8 years',
 'Former Contractor, less than 1 year',
 'Current Contractor, less than 1 year',
 'Current Intern, less than 1 year',
 'Former Intern',
 'Former Intern, less than 1 year',
 'Former Contractor, more than 1 year',
 'Current Contractor',
 'Former Contractor',
 'Former Intern, more than 1 year',
 'Current Contractor, more than 1 year',
 'Former Contractor, more than 8 years',
 'Former Temporary Employee',
 'KEY NOT FOUND: jobLine.per_diem-former',
 'Current Freelancer, more than 3 years',
 'KEY NOT FOUND: jobLine.temporary-former']

In [5]:
df['status'] = df.current.str[:1]

### drop unwanted columns

In [6]:
df.drop(['date_review','current'], axis=1)

,firm,job_title,location,overall_rating,work_life_balance,culture_values,diversity_inclusion,career_opp,comp_benefits,senior_mgmt,recommend,ceo_approv,outlook,headline,pros,cons,year,status
0,AFH-Wealth-Management,Anonymous Employee,No location,5,5.0,5.0,1.0,5.0,5.0,5.0,v,o,v,Administration,"Really nice community, lots of benefits for em...",nothing that i can think of- i love working here,2018,C
1,AFH-Wealth-Management,Anonymous Employee,No location,1,3.0,1.0,1.0,2.0,1.0,1.0,x,x,v,Could be so much better,Lots of talented and friendly people.\r\n\r\nR...,The talented and friendly people are woefully ...,2018,F
2,AFH-Wealth-Management,Anonymous Employee,No location,5,5.0,5.0,1.0,4.0,4.0,4.0,v,o,v,Employer of choice,Top CEO with a vision and desire to make thing...,There are none... it's what you make it.,2018,C
3,AFH-Wealth-Management,Anonymous Employee,No location,4,3.0,3.0,1.0,5.0,2.0,3.0,v,v,v,Good place to work,Very professional manner and lots of opportuni...,There are none to point out,2018,C
4,AFH-Wealth-Management,Anonymous Employee,No location,2,4.0,2.0,1.0,2.0,1.0,1.0,x,o,o,In the process of trying to provide the best s...,The compressed hours structure works well wher...,I genuinely believe AFH have a good offering f...,2018,F
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
476123,the-LEGO-Group,Marketing Manager,"München, Bavaria, Bavaria",5,4.0,5.0,4.0,4.0,4.0,4.0,v,v,v,Just an awesome company to work for!!!,"Great company values, awesome product, smart c...",Not very easy to transfer to other locations,2021,C
476124,the-LEGO-Group,Sales Associate,"London, England, England",3,5.0,5.0,5.0,5.0,5.0,5.0,o,o,o,working at lego,staff discount is really nice,micro managing is a hassle\r\ncan become menta...,2021,C
476125,the-LEGO-Group,Strategist,No location,4,5.0,5.0,5.0,3.0,5.0,3.0,v,o,o,not interested in growing their people,loved brand for a lot of people,you can spend 6-10 years without any promotion...,2021,C
476126,the-LEGO-Group,Customer Service Representative,No location,5,5.0,5.0,5.0,5.0,5.0,5.0,o,o,o,Great Place to Work,"Good wages, good hours, lots of resources","Working every other weekend, busy seasons can ...",2021,C
476127,the-LEGO-Group,Human Resources Specialist,"Kladno, Central Bohemian, Central Bohemian",5,4.0,5.0,4.0,4.0,5.0,5.0,v,v,o,I strongly recommend the LEGO Group as employer,The LEGO Group is company with many opportunit...,Many things are centralized in Denmark and rel...,2021,C

In [7]:
df['recommend'].unique()

array(['v', 'x', 'o'], dtype=object)

In [8]:
df.to_csv('../data/clean/df_exp.csv', index=False)

In [9]:
df.firm.value_counts()

McDonald-s                              31803
IBM                                     28749
Deloitte                                28131
EY                                      20096
PwC                                     19098
                                        ...
National-Offender-Management-Service        3
Office-of-Rail-Regulation                   2
Health-Protection-Agency                    1
The-Survey-Association                      1
UKCIL                                       1
Name: firm, Length: 426, dtype: int64

In [10]:
#df['firm'].nunique()
len((df['firm'].value_counts() < 200).index.tolist())

#df[df['firm'].isin(firms_with_more_than_200_reviews)]

426

### describe data

In [11]:
df.describe().T

,count,mean,std,min,25%,50%,75%,max
overall_rating,476128.0,3.767907,1.165826,1.0,3.0,4.0,5.0,5.0
work_life_balance,476128.0,3.551253,1.265992,1.0,3.0,4.0,5.0,5.0
culture_values,476128.0,3.845359,1.271434,1.0,3.0,4.0,5.0,5.0
diversity_inclusion,476128.0,4.670351,0.823442,0.0,5.0,5.0,5.0,5.0
career_opp,476128.0,3.682793,1.234794,1.0,3.0,4.0,5.0,5.0
comp_benefits,476128.0,3.588466,1.204820,1.0,3.0,4.0,5.0,5.0
senior_mgmt,476128.0,3.338266,1.302241,1.0,3.0,3.0,4.0,5.0
year,476128.0,2019.717271,1.086073,2018.0,2019.0,2020.0,2021.0,2021.0

### filtering and considering only companies above 200 reviews

In [13]:
df2 = pd.DataFrame(df.groupby(['firm'])['overall_rating'].count()).reset_index().rename(columns={'overall_rating':'count'}).sort_values(by=['count'],ascending=False).reset_index(drop=True)
df2

                                     firm  count
0                              McDonald-s  31803
1                                     IBM  28749
2                                Deloitte  28131
3                                      EY  20096
4                                     PwC  19098
..                                    ...    ...
421  National-Offender-Management-Service      3
422             Office-of-Rail-Regulation      2
423              Health-Protection-Agency      1
424                The-Survey-Association      1
425                                 UKCIL      1

[426 rows x 2 columns]

In [14]:
df.drop(['date_review','current'], axis=1)

,firm,job_title,location,overall_rating,work_life_balance,culture_values,diversity_inclusion,career_opp,comp_benefits,senior_mgmt,recommend,ceo_approv,outlook,headline,pros,cons,year,status
0,AFH-Wealth-Management,Anonymous Employee,No location,5,5.0,5.0,1.0,5.0,5.0,5.0,v,o,v,Administration,"Really nice community, lots of benefits for em...",nothing that i can think of- i love working here,2018,C
1,AFH-Wealth-Management,Anonymous Employee,No location,1,3.0,1.0,1.0,2.0,1.0,1.0,x,x,v,Could be so much better,Lots of talented and friendly people.\r\n\r\nR...,The talented and friendly people are woefully ...,2018,F
2,AFH-Wealth-Management,Anonymous Employee,No location,5,5.0,5.0,1.0,4.0,4.0,4.0,v,o,v,Employer of choice,Top CEO with a vision and desire to make thing...,There are none... it's what you make it.,2018,C
3,AFH-Wealth-Management,Anonymous Employee,No location,4,3.0,3.0,1.0,5.0,2.0,3.0,v,v,v,Good place to work,Very professional manner and lots of opportuni...,There are none to point out,2018,C
4,AFH-Wealth-Management,Anonymous Employee,No location,2,4.0,2.0,1.0,2.0,1.0,1.0,x,o,o,In the process of trying to provide the best s...,The compressed hours structure works well wher...,I genuinely believe AFH have a good offering f...,2018,F
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
476123,the-LEGO-Group,Marketing Manager,"München, Bavaria, Bavaria",5,4.0,5.0,4.0,4.0,4.0,4.0,v,v,v,Just an awesome company to work for!!!,"Great company values, awesome product, smart c...",Not very easy to transfer to other locations,2021,C
476124,the-LEGO-Group,Sales Associate,"London, England, England",3,5.0,5.0,5.0,5.0,5.0,5.0,o,o,o,working at lego,staff discount is really nice,micro managing is a hassle\r\ncan become menta...,2021,C
476125,the-LEGO-Group,Strategist,No location,4,5.0,5.0,5.0,3.0,5.0,3.0,v,o,o,not interested in growing their people,loved brand for a lot of people,you can spend 6-10 years without any promotion...,2021,C
476126,the-LEGO-Group,Customer Service Representative,No location,5,5.0,5.0,5.0,5.0,5.0,5.0,o,o,o,Great Place to Work,"Good wages, good hours, lots of resources","Working every other weekend, busy seasons can ...",2021,C
476127,the-LEGO-Group,Human Resources Specialist,"Kladno, Central Bohemian, Central Bohemian",5,4.0,5.0,4.0,4.0,5.0,5.0,v,v,o,I strongly recommend the LEGO Group as employer,The LEGO Group is company with many opportunit...,Many things are centralized in Denmark and rel...,2021,C

In [16]:
df2.head()

         firm  count
0  McDonald-s  31803
1         IBM  28749
2    Deloitte  28131
3          EY  20096
4         PwC  19098

In [19]:
firmbelow200reviews = df2[df2['count']<200]['firm'].values.tolist()

In [22]:
df = df[~df['firm'].isin(firmbelow200reviews)]
df.head()

,firm,date_review,job_title,current,location,overall_rating,work_life_balance,culture_values,diversity_inclusion,career_opp,comp_benefits,senior_mgmt,recommend,ceo_approv,outlook,headline,pros,cons,year,status
33,ALDI,2018-01-11,Store Assistant,"Current Employee, more than 1 year","Market Harborough, England, England",1,1.0,3.0,5.0,1.0,4.0,2.0,x,o,v,Cannot WAIT to hand in my resignation!,"Good pay for role, decent benefits package, n...",**THIS IS SPECIFIC TO MKT H'BRO STORE - I s...,2018,C
34,ALDI,2018-01-12,Deputy Manager,"Current Employee, more than 5 years","Tamworth, England, England",4,3.0,4.0,5.0,2.0,3.0,2.0,v,r,r,Deputy manager,good company to work for very addaptable for p...,dont push for progression for everyone,2018,C
35,ALDI,2018-01-28,Store Manager,"Current Employee, more than 5 years","Ellesmere Port, England, England",4,1.0,5.0,5.0,5.0,4.0,1.0,v,v,v,It WILL make you or break you,Huge amount of responsibility\r\nFree rain to ...,Little to no support from AM’s once the going ...,2018,C
36,ALDI,2018-01-30,Store Assistant,"Former Employee, more than 1 year","Crewe, England, England",4,5.0,4.0,5.0,4.0,4.0,3.0,v,r,v,Store Assistant,Good pay and flexible working when part time,The work is very physically demanding,2018,F
37,ALDI,2018-02-01,Deputy Manager,"Current Employee, more than 8 years","Stafford, England, England",2,1.0,1.0,5.0,2.0,3.0,1.0,o,r,x,Deputy manager. With 9 years experience,As a company aldi are good to work for. The pa...,In store it’s vile. I’ve worked in quite a few...,2018,C

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 458058 entries, 33 to 476127
Data columns (total 20 columns):
 #   Column               Non-Null Count   Dtype
---  ------               --------------   -----
 0   firm                 458058 non-null  object
 1   date_review          458058 non-null  object
 2   job_title            458058 non-null  object
 3   current              458058 non-null  object
 4   location             458058 non-null  object
 5   overall_rating       458058 non-null  int64
 6   work_life_balance    458058 non-null  float64
 7   culture_values       458058 non-null  float64
 8   diversity_inclusion  458058 non-null  float64
 9   career_opp           458058 non-null  float64
 10  comp_benefits        458058 non-null  float64
 11  senior_mgmt          458058 non-null  float64
 12  recommend            458058 non-null  object
 13  ceo_approv           458058 non-null  object
 14  outlook              458058 non-null  object
 15  headline             456202 non-null  object
 16  pros                 458058 non-null  object
 17  cons                 458054 non-null  object
 18  year                 458058 non-null  int64
 19  status               458058 non-null  object
dtypes: float64(6), int64(2), object(12)
memory usage: 73.4+ MB

In [25]:
df.to_csv('../data/clean/df_exp2.csv', index=False)